* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.container > .row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.container > .row > .col > .card {

    &:hover > .card-img img {
        transform: scale(1.05);
    }

    &:hover { 
        transform: scale(1.01);
    }
    
    position: relative;
    border:1px solid #cccccc6f;
    border-radius: 6px;
    box-shadow: 0 0 10px #cccccc6f;
    transition: all 0.3s ease;
    cursor: pointer;
    /* background-color: red; */

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }

    .card-body {
        padding:15px;

        h3 {
            font-size: 18px; 
        }

        p {
            font-size: 26px;
            color:#e83414;
            font-weight: 800;
        }

        button { 
                padding:7px 10px;
                background-color: #059321db;
                color:#fff;
                border:none;
                cursor: pointer;
                font-size: 14px;
                border-radius: 5px;
                margin-top: 10px;

                span {
                    margin-right: 5px;
                }
        }
    }
}

@media screen and (min-width:993px)  {
    .container {
        max-width: 1200px;
        margin:30px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:15px;
    }

    .container > .row > .col > .card {
        width:288.75px; 

        .card-badge {
            position: absolute;
            top:15px;
            left:15px;
            background-color: #ff0000;
            color:#fff;
            padding:5px 10px;
            font-size: 12px;
            border-radius: 3px;
            z-index: 1;
        }
    }

    .card-img {
        overflow: hidden;
        width:100%;
        height: 400px;
    }

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .container {
        max-width: 700px;
        margin:20px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
    }

    .container > .row > .col > .card {
        width:223.33px;

        .card-badge {
            position: absolute;
            top:10px;
            left:10px;
            background-color: #00ff04e0;
            color:#ffffff;
            padding:5px 10px;
            font-size: 10px;
            border-radius: 3px;
            z-index: 1;
        }

        .card-body {
            h3 {
                font-size: 16px; 
            }
            p {
                font-size: 25px;
                margin-top: 3px;
            }
            button {
                font-size: 12px;
            }
        }
    }

    .card-img {
        overflow: hidden;
        width:100%;
        height: 300px;
    }

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }
}

@media screen and (max-width:575px) {
    .container {
        max-width: 350px;
        margin:30px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
    }

    .container > .row > .col > .card {
        width:350px;

        .card-badge {
            position: absolute;
            top:15px;
            left:15px;
            background-color: #ff0000d1;
            color:#fff;
            padding:5px 10px;
            font-size: 15px;
            border-radius: 3px;
            z-index: 1;
        }

        .card-body {
            h3 {
                font-size: 18px; 
            }
            p {
                font-size: 30px;
                margin-top: 3px;
            }
            button {
                font-size: 16px;
            }
        }
    }
}












